<ul>
  <li><a routerLinkActive="menu-active" [routerLink]="['']" [routerLinkActiveOptions]="{ exact: true }">Html</a></li>
  <li><a routerLinkActive="menu-active" [routerLink]="['css']">Css</a></li>
  <li><a routerLinkActive="menu-active" [routerLink]="['js']">JavaScript</a></li>
  <li><a routerLinkActive="menu-active" [routerLink]="['frontend']">Frontend</a></li>
  <li><a routerLinkActive="menu-active" [routerLink]="['backend']">Backend</a></li>
  <li><a (click)="openAuth()">Мій профіль</a></li>
</ul>
